<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  创建时间：2025/6/15 19:35
  作者：Ablecisi
-->
<mapper namespace="com.ablecisi.ailovebacked.mapper.ArticleMapper">
    <resultMap id="ArticleResultMap" type="com.ablecisi.ailovebacked.pojo.entity.Article">
        <result property="tags" column="tags"
                typeHandler="com.ablecisi.ailovebacked.handler.JsonStringListTypeHandler"/>

        <!-- 其他字段可省略，MyBatis 会自动映射 -->
    </resultMap>
    <update id="updateViewCount">
        #更新文章的浏览量
        UPDATE ailove.article
        SET view_count  = view_count + 1,
            update_time = NOW()
        WHERE id = #{articleId}
    </update>
    <update id="updateLikeCount">
        #连表更新文章的点赞量
        UPDATE ailove.article a
        SET a.like_count = (SELECT COUNT(1)
                            FROM ailove.article_like_relation alr
                            WHERE alr.article_id = a.id),
            update_time  = NOW()
        WHERE a.id = #{articleId}
    </update>
    <select id="getFeaturedArticles" resultMap="ArticleResultMap">
        #选择view_count最大的一条记录
        SELECT *
        FROM ailove.article
        ORDER BY view_count DESC
        LIMIT 1
    </select>
    <select id="getArticleById" resultMap="ArticleResultMap">
        #根据id查询文章
        SELECT *
        FROM ailove.article
        WHERE id = #{id}
    </select>
    <select id="getHotArticles" resultType="com.ablecisi.ailovebacked.pojo.entity.Article">
        #查询浏览量前10的文章
        SELECT *
        FROM ailove.article
        ORDER BY view_count DESC
        LIMIT 10
    </select>
</mapper>
