<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  创建时间：2025/6/16 01:53
  作者：Ablecisi
-->
<mapper namespace="com.ablecisi.ailovebacked.mapper.CommentMapper">

    <select id="getCommentsByArticleId" resultType="com.ablecisi.ailovebacked.pojo.entity.Comment">
        <!-- 根据文章ID查询评论 -->
        SELECT * FROM ailove.comment
        WHERE article_id = #{articleId}
    </select>
    <select id="getRepliesByCommentIds" resultType="com.ablecisi.ailovebacked.pojo.entity.Comment">
        <!-- 根据评论ID查询回复 -->
        SELECT * FROM ailove.comment
        WHERE parent_id IN
        <foreach item="id" collection="commentIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
